.course {
    margin: 1rem;
    font-size: 22px;
}

.students_list {
    margin: .5rem 2rem;

    li {
        font-size: 16px;
    }
}

.students_item {
    margin: 0.3rem 0;
}

.button {
    margin-top: 3rem;
    padding: 1rem;
    border: none;
    font-size: 18px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.link {
    margin: 0 1rem;
}