* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #673ab7;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.wrap {
    margin: 2rem 0;
}