.form__input {

    input { 
        width: 100%;
        padding: 12px 20px;
        margin: .5rem 0;
        display: inline-block;
        border: 1px solid #000;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
    }

    input:invalid[focused="true"] {
        border: 1px solid red;
    }

    span {
        display: none;
    }

    input:invalid ~ span{
        color:red;
    }

    input:invalid[focused="true"] ~ span{
        display: block;
        margin-top: 5px;
    }

    label {
        font-weight: 600;
        font-size: 18px;
    }
}
    


